@font-face {
    font-family:RubikIso;
    src: url(fonts/Rubik_Iso/RubikIso-Regular.ttf);
}
@font-face {
    font-family: Moon_dance;
    src: url(fonts/Moon_Dance/);
}


html, head, body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
}

body {
    background-color: rgb(0, 0, 0);
}

.header {
    width: 100%;
    height: 100%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}



/*--------------------------------BOX CREATIONS-----------------------------------------*/

.line_1{
    position: absolute;
    border-right: 3px solid white;
    width: 10%;
    height: 100vh;
}


.line_2{
    position: absolute;
    border-right: 1px solid white;
    width: 45%;
    height: 100vh;
}


.line_3{
    position: absolute;
    border-bottom: 1px solid #ffffff;
    width: 100%;
    height: 10%;
}

.line_1_3 {
    position: absolute;
    border-bottom: 3px solid white;
    width: 10%;
    height: 10%;
}

.line_4{
    position: absolute;
    border-top: 1px solid #ffffff;
    left: 45%;
    right: 0%;
    width: 55%;
    top: 70%;
}

.line_5{
    position: absolute;

    border-bottom:1px solid #ffffff;
    margin-bottom: 0px;
    margin-left: 45%;
    margin-right: 20%;
    width: 35%;
    height: 90%;
}

.line_6{
    position: absolute;
    display: inline;

    border-left :1px solid #ffffff;
    bottom: 0;
    left: 80%;
    right: 0px;
    width: 19.8%;
    height: 30%;
    
}




/*-------------------------------------------------------------------------*/



.navbar {
    width: 10%;
    height: auto;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.navbar img{
    width: 100%;
    height:auto;
}

.navbar a {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    color: #000000;
    background-color: #ffffff;
    border:1px solid #000000;
    text-decoration: none;
    border-right-color: #ffffff;
}

.navbar a:hover {
    background-color: #ff0055;
    color: black;
}


.hello{
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px;
    position: absolute;
    padding: 0px;
    line-height:0.85;
    top: 27%;
    left: 30%;

}

.intro_box{
    position: absolute;
    padding: 0px;
    line-height:1;
    top: 27%;
    left: 47%;
    right: auto;
}

.intro{
    color: #ffffff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}
.intro_description{
    color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;   
}

.more_about_button{
    position: absolute;
    top: 90%;
    left: 20%;
    right: 20%;
    bottom: 0%;

    
}

.m_button{
    font-size: 30px;
    background-color: #ffffff;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    color: #000000;
    text-decoration: none !important;
    
    background: linear-gradient(to right, #ff0055 50%, #ffffff 50%);
    background-size: 200% 100%;
    background-position:right bottom ;
    transition: all 0.25s ease-out;
    cursor: pointer;
}


.m_button:hover{
    background-position: left bottom;

    padding-top: 15px;
    padding-left: 35px;
    padding-right: 35px;
}


.line_4_box{
    position: relative;
    padding: 15px;
    width: 60%;
    border-left: #ff0055;
    color: white;
    font-size: 15px;
    font-family: 'Arial Narrow Bold', sans-serif;
}



.line_6_box_one {
    position: relative;
    float: left;
    width: 30%;
    height: 99.7%;
    border-right: 1px solid #ffffff;
    color: #ffffff;
    text-align: center;

    
}

.line_6_box_one > div{
    position:inherit;
    
    

    opacity:0;
	height: 0;
	overflow: hidden;
}

.line_6_box_one:hover > div{
    opacity: 1;
}

.line_6_box_two{
    float:right;
    position: relative;
    right: 0%;
    width: 68%;
    height: 99%;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    text-decoration: none;
    color: #ffffff;
    text-align: center;

}






